@using System.Text.Json
@using System.Text.Json.Serialization
@using UserManagement.Web.Constants
@using UserManagement.Web.Enum
@using UserManagement.Web.Models.Users

@model UserManagement.Web.Models.Users.UserDetailsListViewModel
@{
    bool isReadOnly = Model.Mode == FormMode.View;
    bool hasQuote = !string.IsNullOrWhiteSpace(Model.Quote);
}

@* Determine the view title based on the form mode *@
<h2>
    @(Model.Mode switch
    {
        FormMode.Create => "Create User",
        FormMode.Edit => "Edit User",
        _ => "User Details"
    })
</h2>

@if (isReadOnly && hasQuote)
{
    <div>
        <span class="quote-span">"@Model.Quote"</span>
    </div>
}

<Form asp-controller="Users" asp-action="Save" method="post">

    @* Input elements associated with user properties *@
    <div class="input-container">

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Mode" />

        <div>
            <div><span>Forename</span></div>
            <input type="text" asp-for="Forename" readonly="@isReadOnly" />
        </div>
        <div>
            <div><span>Surname</span></div>
            <input type="text" asp-for="Surname" readonly="@isReadOnly" />
        </div>
        <div>
            <div><span>Email</span></div>
            <input type="email" asp-for="Email" readonly="@isReadOnly" />
        </div>
        <div>
            <div><span>Date of Birth</span></div>
            <input type="date" asp-for="DateOfBirth" readonly="@isReadOnly" />
        </div>
        <div>
            <label>
                <input type="checkbox" asp-for="IsActive" disabled="@isReadOnly" />
                Account Active?
            </label>
        </div>

        <div>
            @* Hide the button if in view mode *@
            @if (!isReadOnly)
            {
                <button id="submit-user-btn" type="submit" class="btn btn-primary" disabled>
                    @(Model.Mode switch
                    {
                        FormMode.Create => "Create User",
                        FormMode.Edit => "Save Changes",
                        _ => "Submit"
                    })
            </button>
                        }
        </div>
    </div>

</Form>

@* Only show the log file in View mode *@
@if (isReadOnly)
{
    <h2>Activity Log</h2>

    <div class="log-filter-container">
        <div>
            <label for="filter-from" class="form-label">From:</label>
            <input type="date" id="filter-from" class="form-control">
        </div>
        <div>
            <label for="filter-to" class="form-label">To:</label>
            <input type="date" id="filter-to" class="form-control">
        </div>
        <div>
            <button type="button" id="filter-log-btn" class="btn btn-primary">Filter</button>
            <button type="button" id="clear-log-btn" class="btn btn-secondary">Clear</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ActionPerformed</th>
                    <th>Performed By</th>
                    <th>Performed On</th>
                    <th style="width: 1px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Logs)
                {
                    <tr>
                        <td>@item.Action.ToString()</td>
                        <td>@item.PerformedBy</td>
                        <td class="action-date">@item.ActionDate.ToString(Constants.DateTimeToStringImplementation)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<script>
    const user = @Html.Raw(JsonSerializer.Serialize(Model, Constants.DefaultSerializerOptions));
    let currentUser = {...user};
</script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/user.js"></script>
